body{
    background: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', ' Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Title{
    background-color: whitesmoke;
    text-align: center;
}
.homelink{
    border: 5px solid whitesmoke;
    width: 50px;
    padding: 10px 15px;
}
.img{
    border: 5px solid whitesmoke;
}
.descreption{
    border: 5px solid whitesmoke;
    width: auto;
    padding: 10px;
}
.ingredientsTitle{
    background-color: whitesmoke;
}
.stepsTitle{
    background-color: whitesmoke;
}
.steps{
    list-style: upper-roman;
    width: 1000px;
}